@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --text-color: #2E3D50;
  --primary-color: #1E90FF;
  --alert-color: #DC2B2B;
  --sucess-color: #12A19A;
  --inactive-color: #F0F0F0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
      .bg {
        background-color: var(--primary-color);
      }

      .text {
        color: #EAEAEA;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }

      .dotContainer {
        @apply w-[20.39%] h-[345px];
      }
      .dot{
        width: 32px;
        height: 32px;
        border-radius: 9999px;
        background-color: var(--background);
        transition: box-shadow 0.5s ease, border-color 0.5s ease;
        
         position: relative;
         display: inline-flex;
        justify-content: center;
        align-items: center;

        &>div{
          width: 10px;
          height: 10px;
          border-radius: 999px;
          
      }

      }

      

      .active{
        border: 0.96px solid var(--primary-color);
        box-shadow: 0px 0px 0px 3.83px rgba(30, 144, 255, 0.25);

        &>div{
          width: 10px;
          height: 10px;
          border-radius: 999px;
          background-color: var(--primary-color);
            }
      }
      
      .inactive{
        border: 0.96px solid var(--inactive-color);
          &>div{
          width: 10px;
          height: 10px;
          border-radius: 999px;
          background-color: var(--inactive-color);
             }
      }
          .completed{
            position: relative;
            overflow: hidden;
         
            &::before{
              content: "";
              position: absolute;
              inset: 0;
              background-color: var(--primary-color);
              transform: scale(1);
              transform-origin: center;
              border-radius: 9999px;
              transition: transform 0.6s ease;
              z-index: 0;
            }
        &>div{
        position: relative;
        background-color: var(--inactive-color);
        z-index: 1;
            }
      } 
      
      
      .dotCell {
       @apply h-[25%] rounded-lg flex justify-start px-3.5 gap-3.5 items-center ;
        position: relative;
       &.Cellactive{
        @apply bg-[#F9F9F9] ;
       }
      }

      .line{
        width: 2px;
        height: 42.5px;
        background-color: rgba(240, 240, 240, 1);

        position: absolute;
        left: 28.5px;
        top: calc(50% + 20px);
        overflow: hidden; /* necessário para animação */
        z-index: 99;

        &.lineactive::before{
          transform: scaleY(1);
          
        }
      }

      .line::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(30, 144, 255, 1); /* cor do preenchimento */
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.6s ease;
            
          }
 }